 <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        <a target="_blank" href="#">Bem+</a>
      </div>
      <!-- Default to the left -->
      Sorveteria bem mais sorvetes | Giomerito Alves de Souza - > giomerito.dev@gmail.com
    </footer>