 	</div>
    <!-- /.content-wrapper -->      

    <!--Footer-->
    <%- include("./footer") -%> 
    <!--/Footer-->

  </div>

  <!--Scripts-->
  <%- include("./scripts") -%>
  <!--/Scripts-->

</body>

</html>